---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>jQuery is fine</title>
    <link rel="stylesheet" href="/css/tachyons.min.css" />
  </head>
  <body class="sans-serif pa5">
    <h1 class="mt0 mb5">jQuery is fine</h1>

    <p class="mb4">It's OK to use jQuery, it will always work.</p>

    <p class="mb4">Don't let anyone make you feel bad about using it.</p>

    <p class="mb4">And if you don't like it, you don't have to use it.</p>

    <br /><br /><br />

    <p class="gray f6 i">
      A message from your friends at
      <a class="gray hover-black" target="_blank" href="https://antipatterns.tv"
        >Antipatterns.tv</a
      >
    </p>

    <div class="fixed bottom-0 right-0 pa4">
      <a
        class="black no-underline f6"
        target="_blank"
        href="https://jonathanyoungblood.com">♥︎ JY</a
      >
    </div>
  </body>
</html>
